* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-size: 12px;
  color: #817D7A;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
body {
  /* height: 2000px; */
}

